@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-purple: #657afb;
    --color-primary-navy: #2c3980;
    --color-primary-black: #031123;
    --color-primary-white: #ffffff;
    --color-primary-dark-grey: #424d5b;
    --color-primary-grey: #818892;
    --color-secondary-green: #55cb7f;
    --color-secondary-orange: #fc9c2a;
    --color-secondary-blue: #15b0e7;
    --color-secondary-purple: #7c23e8;
    --color-secondary-pink: #fb6ac2;
    --color-secondary-red: #ff3a5d;
    --color-shade-purple: #e6e9fa;
    --color-shade-orange: #fff2de;
    --color-shade-blue: #e0f7ff;
    --color-shade-green: #d9ffe6;
    --color-shade-grey: #ececec;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
